In [40]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats

mean = np.repeat(0,200)
cov = np.identity(200)*2

np.random.seed(2017)
x = pd.DataFrame(np.random.multivariate_normal(mean, cov, 1000))
y = np.absolute([np.random.normal(0, 2, 200)])

select = 
select

#x1 = x[ select ,:49].copy()
#y > np.median(y)

0    [[True, True, False, True, True, False, False,...
dtype: object

In [14]:

data

                                                   0
0            0         1         2         3     ...
1  [[3.25710261973, 1.4401956744, 0.0152145721721...